<a href="https://colab.research.google.com/github/shrikantkhule100-ux/My-AI-Journey/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
url="https://raw.githubusercontent.com/AlexTheAnalyst/PandasYouTubeSeries/refs/heads/main/world_population.csv"
df=pd.read_csv(url)
#print(df)
#print([df[df['Rank']<10]])
#spesific_country=['Brazil','Bangladesh']
#df[df['Country'].isin(spesific_country)]
#df[df['Country'].str.contains('Bangladesh')]

df2= df.set_index('Country')
df2.filter(items=['Continent','CCA3'] ,)
df2.filter(items=['Algeria'],axis=0)
df2.iloc[8]
df2.loc['Algeria']

Rank                                   34
CCA3                                  DZA
Capital                           Algiers
Continent                          Africa
2022 Population                44903225.0
2020 Population                43451666.0
2015 Population                39543154.0
2010 Population                35856344.0
2000 Population                30774621.0
1990 Population                25518074.0
1980 Population                18739378.0
1970 Population                13795915.0
Area (km²)                      2381741.0
Density (per km²)                 18.8531
Growth Rate                        1.0164
World Population Percentage          0.56
Name: Algeria, dtype: object